:root {
    --image-url: url("data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=");
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--image-url);
}
