:root {
    --video-url: url("data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=");
}
*:focus {
    outline: none;
}
div,span {
    x-box-sizing: border-box;
}
body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: 0;
    padding: 0;
    position: fixed;
    background-color: #ddd;
}
div {
    margin: 0;
    border: 0;
    padding: 0;
}
td {
    text-align: center;
}
label {
    font-size: large;
    margin: 5px;
}
input {
    font-family: monospace;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
}
input:focus {
    background-color: #f9f9f9;
}
input:disabled {
    color: #111;
}
button {
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    font-size: large;
}
#body {
    font-size: 14px;
    font-family: sans-serif;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    height: 480px;
    min-height: 480px;
    max-height: 480px;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
}
#menu {
    width: 50px;
    font-size: 30px !important;
}
#menu > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    flex-grow: 1;
    width: 48px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid black;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#menu > div:hover {
    background-color: #eee;
}
#menu > div > svg {
    margin-left: auto;
    margin-right: auto;
}
.menu_sel {
    border-bottom: 1px solid black !important;
    border-right: 1px solid #f4f4f4 !important;
    border-left: 1px solid #f4f4f4 !important;
    border-top: 1px solid black !important;
    background-color: #f4f4f4;
}
#pages > div {
    display: none;
    width: 749px;
    height: 478px;
    background-color: #f4f4f4;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#page-home, #page-ctrl, #page-move {
    padding: 5px;
    width: 739px !important;
    height: 468px !important;
    min-height: 468px !important;
    max-height: 468px !important;
}
#progress-box {
    position: relative;
}
#filename {
    text-align: center;
}
#progress-bar {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(255,0,0,0.25);
}
#printing label {
    width: 5em;
}
#printing input {
    margin: 5px;
    width: 300px;
}
#printing button {
    margin: 5px;
}
#heating button {
    width: 50px;
}
#heating input {
    text-align: center;
}
#preheat button {
    width: 180px;
}
#page-home button {
    margin-bottom: 5px;
}
#page-home input:nth-child(1n+2) {
    margin-bottom: 5px;
}
.homeact button {
    margin-bottom: 0 !important;
}
#state {
    text-align: center;
    margin-bottom: 30px;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
}
#bed_at,#nozzle_at,#bed_temp,#nozzle_temp {
    width: 60px;
    margin-left: 0;
}
#keypad {
    position: absolute;
    right: 5px;
    bottom: 76px;
    z-index: 100000;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 8px;
}
#keypad button {
    width: 50px;
    height: 50px;
    margin: 3px;
}
#page-move td button {
    min-width: 50px !important;
    min-height: 50px !important;
}
#page-move td {
    text-align: center;
}
.xyz > div {
    margin: 4px;
}
.xyz input {
    text-align: right;
}
.jog button {
    margin: 3px;
}
#page-file > div {
    width: 50%;
}
#file-list-wrap, #file-detail {
    overflow-y: auto;
    margin: 10px 0 10px 10px;
    background: #fafafa;
}
#file-list {
    font-family: monospace;
    background: #fafafa;
    border-radius: 5px;
}
#file-list label {
    font-size: x-large;
    overflow-x: hidden;
}
#file-list div:nth-child(1n+2) {
    border-top: 1px dashed #ddd;
}
#file-list button {
    font-size: smaller;
    margin: 2px 4px 2px 4px;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}
#file-list > div:hover {
    background-color: #ddd;
}
#file-info {
    border-bottom: 1px solid #ddd;
}
#file-info > div {
    display: flex;
    flex-direction: row;
}
#file-info label {
    font-weight: bold;
    width: 75px;
}
#file-info span {
    margin: 5px 5px 5px 10px;
    font-size: larger;
}
#file-detail button {
    margin-top: 5px;
}
.file-selected {
    background-color: #e8e8e8;
}
#comm-input {
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #ccc;
}
#comm-input > input {
    padding: 3px 5px 3px 5px;
}
#comm-log {
    padding: 0 5px 5px 5px;
    font-family: monospace;
    font-size: smaller;
    overflow-y: auto;
    padding: 5px;
}
#page-vids {
    background: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--video-url);
}
#page-ctrl > label {
    margin: 0;
    padding: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}
#page-ctrl > label:nth-child(1n+3) {
    border-top: 1px solid #ddd;
}
#page-ctrl > div {
    padding: 5px;
}
#page-ctrl button {
    font-size: medium !important;
    flex-shrink: 0;
}
#settings {
    overflow-y: auto;
    min-height: 0;
    background-color: #f8f8f8;
}
.settings:hover {
    background-color: #eee;
}
#settings table {
    border-collapse: collapse;
}
#settings th,td {
    text-align: left;
}
#actions label {
    font-weight: bold;
    text-align: center;
}
#actions button {
    margin-top: 5px;
    min-width: 8em;
}
#actions > div {
    margin-right: 5px;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.fix {
    position: fixed;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.shrink {
    flex-shrink: 1;
}
.over-y {
    overflow-y: auto;
}
.grow {
    flex-grow: 1;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.items-stretch {
    align-items: stretch !important;
}
.items-center {
    align-items: center;
}
.content-stretch {
    align-content: stretch;
}
.content-center {
    align-content: center;
}
.text-center {
    text-align: center;
}
.no-lm {
    margin-left: 0 !important;
}
.no-rm {
    margin-right: 0 !important;
}
.five {
    width: 5px;
    height: 5px;
}
.ten {
    width: 10px;
    height: 10px;
}
.editable {
    background-color: #ffe;
}
.bg_red {
    background-color: #fdd !important;
}
.bg_green {
    background-color: #dfd !important;
}
.bg_yellow {
    background-color: #ffd !important;
}
